
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    /* color: #fff; */
}

.mafia {
    height: 100vh;
    background: url('bg.svg');
    overflow-x: hidden;
}

nav {
    height: 50px;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ededed;
    position: fixed;
    z-index: 9999;
}

.title {
    /* background: blue; */
    /* height: 100%; */
}

.title img {
    object-fit: cover;
    height: 50px;
}

.navlist {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
    background: blue !important;
    height: 100%;
}





.signup {
    background: #00539C;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-shadow: 1.5px 3px #888888;
    margin-top: 10px;
    align-self: center;
}

.signup:hover {
    color:  #00539C;
    background: none;
    font-weight: bold;
    border: 1px solid #00539C;
}

.menu {
    display: none;
    cursor: pointer;
    z-index: 9;
}

.line0 {
    background: #fff;
    height: 3px;
    width: 25px;
    margin: 5px;
    border-radius: 15px;
}

.line1 {
    background: #fff;
    height: 3px;
    width: 25px;
    margin: 5px;
    border-radius: 15px;
}

.line2 {
    background: #fff;
    height: 3px;
    width: 25px;
    margin: 5px;
    border-radius: 15px;
}

.nav-active {
    position: absolute;
    background: #ededed;
    height: 93vh;
    width: 100% !important;
    right: 0; 
    left: 0;
    bottom: 0;
     top: 7vh;
     flex-direction: column;
     justify-content: space-around;
     display: flex !important;
     z-index: 9999999999999;
}

.toggle .line0 {
    transform: rotate(-45deg) translate(-6px, 6px);
    margin-top: 5px;
}

.toggle .line1 {
    opacity: 0;
}

.toggle .line2 {
    transform: rotate(45deg) translate(-6px, -6px);
    margin-top: 6px;
    
}


@media screen and (max-width:1024px) {
    .navlist {
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    nav {
        justify-content: space-between;
        height: 8vh;
        padding: 5%;
    }

    .menu {
        display: block ;
    }
    
    .navlist {
        display: none;
    }

    .navlist li, .signup, .login {
        font-size: 14px;
    }
}



.change {
    margin-top: 10%;
}

.change h2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #00539C;
    font-weight: 500;
}

.change h2 span {
    color: #EEA47F;
}

.change div {
    background: url('images/line.png');
    background-repeat: no-repeat;
    height: 150px;
    /* background: olive; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change div p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #363636;
    font-weight: 700;
}

.change div p span {
    color: #00539C;
}

.list {
    /* background: chartreuse; */
    margin-top: 5%;
    height: 100%;
}

.list div {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

.list div i {
    color: #C2E6BC;
    font-size: 25px;
    padding: 2%;
    display: block;
}

.list div h2 {
    color: #00539C;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.join-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-btn button {
    background: #00539C;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #EDEDED;
    width: 50%;
    outline: none;
    border: none;
    /* height: 50px; */
    padding: 3%;
}

.join-btn button:hover {
    border: 1px solid #00539C;
    background: none;
    color: #00539C;
}


.join-btn button:active {
    padding: 2.5%;
}

.sewer {
    /* background: #00539C; */
    height: 100%;
    padding: 1%;
    width: 50% !important;
}

.image-con {
    /* background: #C2E6BC; */
    height: 500px;
}

.image-con img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(10px 10px 5px rgba(0, 83, 156, 0.2));
}

.first-sec {
    background: #00539C;
}

.first-sec-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-sec-inner div {
    width: 50%;
    margin-top: 2%;
    padding: 2%;
}

.first-sec-inner div span {
    color: #363636;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    transform: rotate(270deg) !important;
    display: block;
    width: 15%;
    margin-left: 2%;
}

.first-sec-inner div h2 {
    color: #EEA47F;
    font-size: 35px;
    line-height: 51px;
    font-family: 'Montserrat', sans-serif;
}

.first-sec-inner div p {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}






@media screen and (max-width:768px){
   
}

