
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    /* color: #fff; */
    overflow-x: hidden;
    
}



/* .mafia {
    width: 100vw !important;
    background: url('bg.svg');
    scroll-behavior: smooth;
    overflow: hidden !important;
} */

nav {
    height: 50px;
    width: 100vw;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ededed;
    position: fixed;
    z-index: 9999;
}

.title {
    /* background: blue; */
    /* height: 100%; */
}

.title img {
    object-fit: cover;
    height: 50px;
}

.navlist {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
    height: 100%;
}





.signup {
    background: #00539C;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-shadow: 1.5px 3px #888888;
    margin-top: 10px;
    align-self: center;
}

.signup:hover {
    color:  #00539C;
    background: none;
    font-weight: bold;
    border: 1px solid #00539C;
}








@media screen and (max-width:1024px) {
    .navlist {
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    nav {
        justify-content: space-between;
        height: 8vh;
        padding: 5%;
        top: 0;
        width: 100%;
    }

    
    
    .navlist {
        margin-right: 0;
    }

    .navlist li, .signup  {
        font-size: 10px;
    }
}





